/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
.circle-container {
	position: relative;
	width: 24em;
	height: 24em;
	padding: 2.8em;  /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border-style: solid ; 
	border-width: 3px;
	border-radius: 50%;
	margin: 1.75em auto 0;
}
.circle-container a, button {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 10em; height: 4em; /*width: 4em; height: 4em;*/
	margin: -2em -5em; /*-2em;*/ /* 2em = 4em/2 */ /* half the width */
}
/*
.circle-container img { display: block; width: 100%; }
*/
/*.circle-container  button { display: block; width: 100%; } */

/* it is better to build data with less or sass */
/* for six */    
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }
/* for five */
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg72 { transform: rotate(72deg) translate(12em) rotate(-72deg); }
.deg144 { transform: rotate(144deg) translate(12em) rotate(-144deg); }
.deg216 { transform: rotate(216deg) translate(12em) rotate(-216deg); }
.deg288 { transform: rotate(288deg) translate(12em) rotate(-288deg); }

/* this is just for showing the angle on hover */
/*
.circle-container button:not(.center):before {
	position: absolute;
	width: 8em; 
	color: white;
	opacity: 0;
	background: rgba(0,0,0,.5);
	font: 1.25em/3.45 Courier, monospace;
	letter-spacing: 2px;
	text-decoration: none;
	text-indent: -2em;
	text-shadow: 0 0 .1em deeppink;
	transition: .7s; 
	content: attr(class)'°';
}
*/
/*
.circle-container a:hover:before { opacity: 1; }
*/

/* this is for showing the circle on which the images are placed */
/*
.circle-container:after {
	position: absolute;
	top: 0em; left: 0em; 
	width: 24em; height: 24em;
	border: dashed 1px deeppink;
	border-radius: 50%;
	opacity: .3;
	pointer-events: none;
	content: '';
}
*/
/*
.circle-container:hover:after { opacity: 1; }
*/

.circle-container:hover { 
	border-width: 6px;
}

/*
.circle-container  button:not(.center):after {
	position: absolute;
	top: 50%; left: 50%;
	width: 4px; height: 4px;
	border-radius: 50%; 
	box-shadow: 0 0 .5em .5em gray;
	margin: -2px; 
	background: deeppink;
	opacity: .3;
	content: '';
}
*/
/*
.circle-container:hover button:after { opacity: 1; }
.circle-container button:hover:after { opacity: .3; }
*/